<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
        xmlns:server="http://www.urbancode.com/PluginServerXMLSchema_v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.urbancode.air.plugin.cyberark" name="CyberArk" version="@API_VERSION@"/>
    <description>This CyberArk plugin enables credentials/secrets to be retrieved from a CyberArk Vault or Conjur.</description>
    <tag>Security/CyberArk</tag>
  </header>

  <step-type name="Get Password from CCP (Web Service)">
    <description>
        Retrieve a password from CyberArk AIM Central Credential Provider via an HTTP request. 
        The Central Credential Provider is installed remote to the agent on a central IIS server. This step will
        set the &lt;prefix&gt;/username, &lt;prefix&gt;/address, and &lt;prefix&gt;/password properties at either the
        component process request level or the generic process request level.
    </description>
    <properties>
      <property name="serverUrl" required="true">
        <property-ui type="textBox"
                     label="Server URL"
                     description="The URL of your CyberArk server. This property should be specified
                        in the format 'https://&#60;host:port&#62;/AIMWebService/api/accounts'."/>
      </property>
      <property name="appId" required="true">
        <property-ui type="textBox"
                     label="Application ID"
                     description="The unique ID of the application issuing the password request."/>
      </property>
      <property name="safe">
        <property-ui type="textBox"
                     label="Safe"
                     description="The name of the safe where the password is stored."/>
      </property>
      <property name="folder">
        <property-ui type="textBox"
                     label="Folder"
                     description="The name of the folder where the password is stored."/>
      </property>
      <property name="object">
        <property-ui type="textBox"
                     label="Object Name"
                     description="The name of the password object to retrieve."/>
      </property>
      <property name="propPrefix" required="true">
        <property-ui type="textBox"
                     label="Process Property Prefix"
                     description="The value to be prepended to each process request property
                        that is created by this step.
                        You may address these properties in subsequent steps with the syntax:
                        ${p:&lt;prefix&gt;/password} for instance."
                     default-value="CyberArk"/>
      </property>
      <property name="keyFile">
        <property-ui type="textBox"
                     label="Keystore File"
                     description="The path to the agent machine's keystore file. This is required
                        when the CyberArk server authenticates applications using client certificates."/>
      </property>
      <property name="keyPass">
        <property-ui type="secureBox"
                     label="Keystore Password"
                     description="The password of the agent machine's keystore."/>
      </property>
      <property name="keyType">
        <property-ui type="textBox"
                     label="Keystore Type"
                     description="The type of keystore on the agent machine."/>
      </property>
      <property name="trustCerts">
        <property-ui type="checkBox"
                     label="Trust Invalid Certificates"
                     description="Check this box to trust all SSL certificates on the agent machine.
                        This will trust any certificate returned from the CyberArk server during connection."/>
      </property>
      <property name="jsseDebugLevel">
        <property-ui type="textBox"
                     label="SSL/TLS Debug Level"
                     description="Specify a debug level to set the 'javax.net.debug' system property.
                        A level of 'all' will log everything. You can specify more specific logging levels
                        with values. For instance 'ssl:handshake' will only log information regarding
                        handshakes between the client and server."/>
      </property>
      <property name="requestId">
        <property-ui type="textBox"
                     label="Process Request ID"
                     description="Property to reference the ID of the process request. This will
                        either be a component process request or a generic process request."
                     hidden="true"
                     default-value="${p?:request.id}"/>
      </property>
      <property name="processId">
        <property-ui type="textBox"
                     label="Process ID"
                     description="The ID of the generic process. If the requested process derives
                        from a component process this property will be empty."
                     hidden="true"
                     default-value="${p?:process.id}"/>
      </property>
      
      <property name="isNtlm">
        <property-ui type="checkBox"
                     label="Activate NTLM Authantication"
                     description="Activate NTLM Authantication."/>
      </property>
	  <property name="domain">
        <property-ui type="textBox"
                     label="Domain of NTLM Authantication"
                     description="The domain of the ntlm's authantication."/>
      </property>
      <property name="username">
        <property-ui type="textBox"
                     label="Username of NTLM Authantication"
                     description="The username of the ntlm's authantication."/>
      </property>
      <property name="pass">
        <property-ui type="secureBox"
                     label="Password of NTLM User"
                     description="The password of the ntlm's user."/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/httpclient.jar:lib/httpcore.jar:lib/commons-lang3.jar:lib/jettison-1.1.jar:lib/uDeployRestClient.jar:lib/HttpComponents-Util.jar:lib/securedata.jar"/>
      <arg file="requestPassword.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <step-type name="Get Password from CP (CLI Utility)">
    <description>Retrieve a password from CyberArk AIM Credential Provider via the clipasswordsdk
        command line utillity on the agent machine. This step will set the CyberArk/username, 
        CyberArk/address, and CyberArk/password properties at either the component process request 
        level or the generic process request level.</description>
    <properties>
      <property name="path" required="true">
       <property-ui type="textBox"
                     label="Path"
                     description="Full path to clipasswordsdk.  E.g. /opt/CARKaim/sdk/clipasswordsdk"
					 default-value="/opt/CARKaim/sdk/clipasswordsdk">
	</property-ui>
      </property>
      <property name="safe"  required="true">
        <property-ui type="textBox"
                     label="Safe"
                     description="Safe name">
        </property-ui>
      </property>
      <property name="folder"  required="true">
        <property-ui type="textBox"
                     label="Folder"
                     description="Folder name"
					 default-value="Root">
        </property-ui>
      </property>
      <property name="object" required="true">
        <property-ui type="textBox"
                     label="Object"
                     description="Object name of the credential">
        </property-ui>
      </property>
      <property name="appid"  required="true">
        <property-ui type="textBox"
                     label="AppID"
                     description="AppID configured in CyberArk PVWA">
        </property-ui>
      </property>
      <property name="outputpass"  required="true">
        <property-ui type="textBox"
                      label="Ouput Property - Password"
                     description="Process Request Property for storing the retrieved password"
					 default-value="CyberArk/Vault/Password">
        </property-ui>
      </property>
      <property name="outputuser">
        <property-ui type="textBox"
                     label="Ouput Property - User Name"
                     description="Process Request Property for storing the retrieved user name"
					 default-value="CyberArk/Vault/User">
        </property-ui>
      </property>
      <property name="outputaddr">
        <property-ui type="textBox"
                     label="Ouput Property - Address"
                     description="Process Request Property for storing the retrieved address"
					 default-value="CyberArk/Vault/Address">
        </property-ui>
      </property>      
      <property name="requestId">
        <property-ui type="textBox"
                     label="Process Request ID"
                     description="Property to reference the ID of the process request. This will
                        either be a component process request or a generic process request."
                     hidden="true"
                     default-value="${p?:request.id}">
        </property-ui>
      </property>
      <property name="processId">
        <property-ui type="textBox"
                     label="Process ID"
                     description="The ID of the generic process. If the requested process derived 
                        from a component process this property will be empty."
                     hidden="true"
                     default-value="${p?:process.id}">
        </property-ui>
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils.jar:lib/uDeployRestClient.jar"/>
      <arg file="clipasswordsdk.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <!-- Conjur -->
  <step-type name="Authenticate Conjur">
    <description>Authenticate Conjur using API Key to get a short-lived access token</description>
    <properties>
      <property name="account" required="true">
       <property-ui type="textBox"
                     label="Account"
                     description="Organization account name">
	</property-ui>
      </property>
      <property name="login" required="true">
        <property-ui type="textBox"
                     label="Login"
                     description="Login name of the client. For users, it’s the user id. For hosts, the login name is host/host-id">
        </property-ui>
      </property>
      <property name="apikey" required="true">
        <property-ui type="textBox"
                     label="API Key"
                     description="API key">
        </property-ui>
      </property>
      <property name="url" required="true">
        <property-ui type="textBox"
                     label="Conjur URL"
                     description="Url of Conjur, eg https://eval.conjur.org">
        </property-ui>
      </property>
      <property name="proxy">
        <property-ui type="textBox"
                     label="Proxy"
                     description="Proxy, leave it blank if no proxy is needed">
        </property-ui>
      </property>
      <property name="outputtoken" required="true">
        <property-ui type="textBox"
                     label="Ouput Property - Access Token"
                     description="Process Request Property for storing the retrieved access token"
					 default-value="CyberArk/Conjur/AccessToken">
        </property-ui>
      </property>
      <property name="apiVer"  required="true">
        <property-ui type="selectBox"
                     label="Api Version"
                     description="Api Version"
                     default-value="v5">
        </property-ui>
        <value label="v4">v4</value>
        <value label="v5">v5</value>
      </property>
	  
	  
      <property name="requestId">
        <property-ui type="textBox"
                     label="Process Request ID"
                     description="Property to reference the ID of the process request. This will
                        either be a component process request or a generic process request."
                     hidden="true"
                     default-value="${p?:request.id}">
        </property-ui>
      </property>
      <property name="processId">
        <property-ui type="textBox"
                     label="Process ID"
                     description="The ID of the generic process. If the requested process derived 
                        from a component process this property will be empty."
                     hidden="true"
                     default-value="${p?:process.id}">
        </property-ui>
      </property>

    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
	  <arg path="classes:lib/groovy-plugin-utils.jar:lib/uDeployRestClient.jar"/>
      <arg file="conjur_auth.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <step-type name="Get Variable from Conjur">
    <description>Get Variable from Conjur</description>
    <properties>
      <property name="account">
       <property-ui type="textBox"
                     label="Account"
                     description="Organization account name">
	</property-ui>
      </property>
      <property name="accesstoken" required="true">
        <property-ui type="textBox"
                     label="Access Token"
                     description="Access Token">
        </property-ui>
      </property>
      <property name="varid"  required="true">
        <property-ui type="textBox"
                     label="Variable ID"
                     description="Variable ID">
        </property-ui>
      </property>
      <property name="url"  required="true">
        <property-ui type="textBox"
                     label="Conjur URL"
                     description="Url of Conjur, eg https://eval.conjur.org">
        </property-ui>
      </property>
      <property name="proxy">
        <property-ui type="textBox"
                     label="Proxy"
                     description="Proxy, leave it blank if no proxy is needed">
        </property-ui>
      </property>
      <property name="apiVer"  required="true">
        <property-ui type="selectBox"
                     label="Api Version"
                     description="Api Version"
                     default-value="v5">
        </property-ui>
        <value label="v4">v4</value>
        <value label="v5">v5</value>
      </property>
	  
	  <property name="outputvar" required="true">
        <property-ui type="textBox"
                     label="Ouput Property - Variable"
                     description="Process Request Property for storing the retrieved variable"
					 default-value="CyberArk/Conjur/Variable">
        </property-ui>
      </property>
	  
	  
      <property name="requestId">
        <property-ui type="textBox"
                     label="Process Request ID"
                     description="Property to reference the ID of the process request. This will
                        either be a component process request or a generic process request."
                     hidden="true"
                     default-value="${p?:request.id}">
        </property-ui>
      </property>
      <property name="processId">
        <property-ui type="textBox"
                     label="Process ID"
                     description="The ID of the generic process. If the requested process derived 
                        from a component process this property will be empty."
                     hidden="true"
                     default-value="${p?:process.id}">
        </property-ui>
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils.jar:lib/uDeployRestClient.jar"/>
      <arg file="conjur_getvar.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>

